
<!-- This is the tool bar on top of the screen with login button and register -->
<mat-toolbar color="primary" class="sticky-top">

  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <!-- This is humburger menu button -->
      <mat-icon>menu</mat-icon>
    </button>

    <span> Rent a Car </span>
    <span class="spacer"></span>

    <div>
      <mat-icon>power_settings_new</mat-icon>
      <a routerLink="/" mat-buton class="buttons"> login </a>
      
      <mat-icon>fingerprint</mat-icon>
      <a routerLink="/register" mat-button class="buttons"> register</a>
      
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <!-- This is left side side nav menu -->
    <mat-nav-list>
        
        <a mat-list-item routerLink="/manage">
          <mat-icon> calendar_today </mat-icon>
          Manage Reservations
        </a>

        <a mat-list-item routerLink="/create-car">
            <mat-icon> drive_eta </mat-icon>
            Add a Car 
        </a>

        <a mat-list-item routerLink="/users">
            <mat-icon> person_add_diabled </mat-icon>
            My Users
        </a>

        <a mat-list-item routerLink="/main">
              <mat-icon> home </mat-icon>
              Main Page 
        </a>
        
    </mat-nav-list>
  </mat-sidenav>

  <!-- This is the main HTML element on the right side with router-->
  <router-outlet></router-outlet>

</mat-sidenav-container>