<mat-toolbar color="primary" class="sticky-top">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <span> Rent a Car </span>
    <span class="spacer"></span>

    <div>
      <mat-icon>power_settings_new</mat-icon>
      <a routerLink="/" mat-buton class="buttons"> login </a>
      
      <mat-icon>fingerprint</mat-icon>
      <a routerLink="/register" mat-button class="buttons"> register</a>
      
    </div>
  </mat-toolbar-row>
</mat-toolbar>
